@* ponemos model en minúscula porque es un helper *@
@model List<TurismoMexicoMVC.Models.ViewModels.CategoriasLista>
@{
    ViewBag.Title = "Lista de Categorias";
}

<h3 class="text-center mb-4">@ViewBag.Title</h3>

<div class="row">
    <div class="col-xs-2" style="text-align:right;">
        <a href="~/Categoria/Nueva_Categoria" class="btn btn-primary mb-3">Nuevo Categoria</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered text-center">
            <tr class="bg-warning">
                <th>Código Categoria</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
                <th></th>
                @foreach (var Elemento in Model)
                {
                <tr>
                    <td>@Elemento.id_categoria</td>
                    <td>@Elemento.nombre</td>
                    <td>@Elemento.descripcion</td>
                    <td>
                        <a class="btn btn-warning" href="~/Categoria/Editar_Categoria/@Elemento.id_categoria"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
                        <a class="btn btn-warning" href="~/Categoria/Eliminar_Categoria/@Elemento.id_categoria"><i class="fa-regular fa-trash-can"></i></a>

                    </td>
                </tr>

            }
            </table>
        </div>
    </div>

