<main>
    <div class="container-fluid ms-0 ps-0">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-fluid" width="100%" src="https://www.atractivosturisticos.com.mx/wp-content/uploads/2014/11/slider_xcaret_resort.jpg" />
            </div>
        </div>

        <hr class="featurette-divider mt-3">

        <div class="row featurette">
            <div class="col-md-7 ">
                <h2 class="featurette-heading fw-normal lh-1 mt-2 fw-semibold">Cristo de Copoya</h2>
                <p class="lead">Es una obra artística monumental representativa de Jesucristo resucitado ante la Ciudad de Tuxtla Gutiérrez, capital del estado mexicano de Chiapas. Es la cruz más grande el mundo, con 64 metros de altura, construidos en una estructura metálica de acero inoxidable.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://aquinoticias.mx/wp-content/uploads/2022/01/Cristo-de-Copoya-Lucero-Natar%C3%A9n-4.jpeg" />
            </div>
        </div>

        <hr class="featurette-divider mt-3">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.lugaresturisticosenmexico.com/wp-content/uploads/2022/06/Callejon-de-los-Sapos-Ciudad-de-Puebla.jpg" />
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 mt-2 fw-semibold">Callejón de los Sapos</h2>
                <p class="lead">Aparentemente debe su nombre a que en tiempos coloniales, la crecida del Río San Francisco provocaba numerosas inundaciones en la calle 6 sur, debido a esto, los vecinos de la localidad, optaron por darle un uso útil a éste fenómeno, instalando molinos para aprovechar dicho abastecimiento de agua natural, pero éstas actividades trajeron consigo una gran proliferación de sapos en la zona.</p>
            </div>
        </div>
    </div>
</main>